@import url('http://fonts.cdnfonts.com/css/gotham');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,600&display=swap');


:root {
    --main-font-color: whitesmoke;

}


#ferramentas {

    width: 100%;
    height: auto;
    position: absolute;

    h2 {
        color: rgb(73, 71, 71);
        color: var(--main-font-color);
        font-size: 45px;
        font-weight: 500;
    }
    h3 {
        width: 80%;
        margin: auto;
        color: var(--main-font-color);
        line-height: 30px;
        font-weight: 100;
    }

    .container {
        width: 80%;
        height: 40vh;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        margin-top: 15vh;
        border-bottom: 1px solid rgba(0, 0, 0, 0.705);


        .box {
            width: 20%;
            height: 25%;
            

            img {
                width: 50px;
            }

            h2 {
                font-size: 18px;
            }
        }

    }
}


@media (max-width: 550px) {
    
#ferramentas {
    margin-top: 10vh;


    .container {
       height: 40vh;

        .box {
            width: 25%;

            h2 {
                font-size: 14px;
            }
       
        }
    }
}
}

