.separador {
    width: 100%;
    margin-top: -10vh;

    .container {
        width: 20%;
        height: auto;
        margin: auto;

        img {
            width: 60px;
            height: 60px;
            opacity: .6;
            cursor: pointer;
        }
        img:hover {
            opacity: 1;
            border-radius: 50%;
            background-color: rgba(30, 23, 24, 0.779);
            color: orangered;
        }
    }
}

@media (max-width: 550px) {
    .separador {
        width: 0;
        height: 0;
        visibility: hidden;

        .container {
            width: 0;
            height: 0;
            
            img{
                width: 0;
                height: 0;

            }
        }

    }
}