@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,600&display=swap');

:root {
    --main-font-color: whitesmoke;
    --secundary-font-color: rgb(24, 23, 23);
    --secundary-font-color-dark: black;
    --secundary-font-familily: 'Nunito Sans', sans-serif;
    --background-color-font-box: rgba(245, 222, 179, 0.105);
}


#portfolio {

    width: 100%;
    height: auto;
    margin-top: 10vh;
    font-family: var(--secundary-font-familily);


    h2 {
        color: var(--main-font-color);
        font-size: 45px;
        font-weight: 500;
    }
    h3 {
        width: 80%;
        margin: auto;
        color: var(--main-font-color);
        line-height: 30px;
        font-weight: 100;
    }

    ul {
        width: 70%;
        margin-left:initial;
        margin-top: 50px;
        list-style: none;
        display: flex;
        color: var(--secundary-font-color);
        
    }


    .container {
        width: 100%;
        height: auto;
        margin-top: 5vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;

        .box {
            width: 24.5%;
            height: 300px;
            background-color: white;
            margin: auto;
            margin-top: 1vh;
            z-index: 55;
            border-radius: 10px;
            cursor: pointer;
            


            h2 {
                color: rgb(28, 27, 27);
                font-family: var(--secundary-font-familily);
                font-weight: bold;
                font-size: 35px;
                margin: 25px;
                margin-top: 100px;
                position: absolute;
                padding-left: 2px;
                background-color: var(--background-color-font-box);
                backdrop-filter: blur( 13.5px );
                -webkit-backdrop-filter: blur( 13.5px );
            }

            h3 {
                width: auto;
                margin-top: 150px; margin-left: 25px;
                color: rgb(28, 27, 27);
                position: absolute;
                text-align: left;
                font-weight: bold;
                padding-left: 2px;
                background-color: var(--background-color-font-box);
                backdrop-filter: blur( 13.5px );
                -webkit-backdrop-filter: blur( 13.5px );
            }
            .link_a {
                    margin-top: 190px;
                    position: absolute;
                    color: rgb(28, 27, 27);
                    margin-left: 25px;
                    font-size: 18px;
                    border-radius: 5px;
                    padding: 5px;
                    background-color: var(--secundary-font-color-dark);
                    text-decoration: none;
            }
            .link {
                margin-top: 190px;
                position: absolute;
                color: rgb(28, 27, 27);
                font-size: 18px;
                margin-left: 100px;
                border-radius: 5px;
                padding: 5px;
                background-color: var(--secundary-font-color-dark);
            }

                
            img {
                    width:100%;
                    height: 100%;
                    border-radius: 5px;
            }
        }
        
        
    }
}


@media (max-width: 1440px) {
    
#portfolio {
    .container {
        .box {
            width: 33.3%;
        }
    
    }
}
}

@media (max-width: 1024px) {
    
    #portfolio {
        margin-top: 20%;

        .container {

            .box {
                width: 49%; 
            }
        }
    }
}

@media (max-width: 550px) {
    
    #portfolio {

        margin-top: 50%;
        width: 100%;
        

        .container {
            width: 100%;
            display: inline-block;
            .box {
                margin: auto;
                margin-top: 1vh;
                width: 100%;

                h2 {
                    margin-top: 50px;
                }
                h3 {
                    margin-top: 120px;
                }

                .link, .link_a {
                    margin-top: 150px;
                }

               
            }
        }

    }
}

