

.cards {

    height: 50vh;
    position: absolute;
    margin-top: 50vh;
    width: 100%;

    .container {
        width: 90%;
        height: 90%;
        margin: auto;
        margin-top: 3vh;
        display: flex;

        .box {

            width: 45%;
            height: 40vh;
            margin: auto;
            display: inline-block;
            
            .txt {
                height: 35vh;

                h3 {
                    text-align: center;
                    color: rgb(11, 118, 160);
                }
                h4 {
                    font-weight: 300;
                    text-align: left;
                    line-height: 30px;
                    margin-top: 4VH;
    
                    a {
                        color: black;
                        text-decoration: none;
                    }
                }
    
                h4:hover {
    
                    a {
                        text-decoration: underline;
                    }
                }

            }

            .btn-primary {
                margin-left: 25vh;
                background-color: white;
                border: none;
                cursor: pointer;
                border-radius: 5px;
            }
            .btn-primary:hover {
               border: 1px solid black;
            }
        }
    }
}
@media (max-width: 1440px) {
    
    .cards {
    
        .container {
            width: 100%;
            height: auto;
            display: inline-block;
    
            .box {
                width: 80%;
                height: auto;
    
                .txt {
                    height: auto;

                    h3 {
                    
                        font-size: 35px;
                    }
                    h4 {
                       font-size: 28px;
                       line-height: 45px;
        
                        a {
                            color: black;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    
    }

@media (max-width: 768px) {
    
.cards {
    height: auto;

    .container {
        width: 100%;
        height: auto;
        display: inline-block;

        .box {
            width: 80%;
            height: auto;

            .txt {
                height: auto;
            }
        }
    }
}

}

@media (max-width: 550px) {
    
    .cards {
        height: auto;
        margin-top: 120vh;
    
        .container {
            width: 100%;
            height: auto;
            display: inline-block;
    
            .box {
                width: 80%;
                height: auto;
    
                .txt {
                    height: auto;

                    h3 {
                    
                        font-size: 30px;
                    }
                    h4 {
                       font-size: 22px;
                    }
                }
            }
        }
    }
    
    }