@import url('http://fonts.cdnfonts.com/css/gotham');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,600&display=swap');


.header {
    width: 100%;
    height: auto;
    margin-top: 30vh;
    background-position: center;
    font-family: 'Gotham', sans-serif;


    .container {
        width: 100%;
        height: 100%;
        display: inline-block;

        
        .spn-name {
            width: 90%;
            margin: auto;
            font-family: 'Nunito Sans', sans-serif;
            color: black;

            h2 {
                color: rgba(0, 0, 0, 0.678);
                font-size: 4.5em;
                letter-spacing: .7vh;
                text-align: left;
                margin-left: 15vh;
                font-family: 'Nunito Sans', sans-serif;
            }
        }
        h3 {
            width: 60%;
            margin: auto;
            line-height: 30px;
            text-align: left;
            margin-left: 15vh;
            font-size: 1.1em;
            font-weight: normal;
        }


        .redes {

            width: 10%;
            margin-top: 5vh;
            margin-left: 15vh;
            display: flex;
            justify-content: space-between;
            animation: opac 8s;

            img {
                width: 30px;
            }
            a {
                padding: 2%;
            }

            @keyframes opac {
                100% {
                    opacity: 1;
                }
                75% {
                    opacity: .75;
                }
                50% {
                    opacity: .5;
                }
                25% {
                    opacity: .25;
                }
                0% {
                    opacity: 0;
                }
            }
        }

        .btn {

            width: 100%;
            background-color: transparent;

            .btn-projects {
                border: none;
                background-color: rgba(25, 156, 231, 0.719);
                color: white;
                border-radius: 10px;
                margin-top: 0vh; margin-left: 12vh;
                width: 150px;
                height: 40px;
                cursor: pointer;
            }

        }
        

    
    }
}



@media (max-width: 1024px) {
    
    .header {
       margin-top: 20vh;
        .container {   
            
           
            .spn-name {
              
    
                h2 {
                  
                    margin-left: 10vh;
                }
              
            }
            h3 {
               margin-left: 10vh;
    
            }
    
            .redes {
    
                margin-left: 10vh;
                width: 20%;
    
    
            }
            .btn {
                .btn-projects {
                    margin-left: 10vh;
                  
                    
                }
            }
           
        }
    }
    
    
    }

@media (max-width: 768px) {
    
.header {
    margin-top: 10vh;
   
    .container {   
        margin-top: 5vh;
       
        .spn-name {
            text-align: left;
            margin-left: 5vh;

            h2 {
                font-size: 4.5em;
                width: 50%;
                text-align: left;
                margin-left: 5vh;
            }
          
        }
        h3 {
            text-align: left;
            margin-left: 5vh;
            font-size: 1.1em;
            width: 60%;

        }

        .redes {

            margin-left: 5vh;
            width: 20%;
        }
        .btn {
            .btn-projects {
                margin-left: 5vh;
            }
        }
    }
}


}

@media (max-width: 550px) {
    
    .header {
        margin-top: 15vh;
       
        .container {
            margin-top: 0vh;
            .spn-name {
                text-align: left;

                h2 {
                    text-align: left;
                    margin-left: 3vh;
                    font-size: 3em;
                }
              
            }
            h3 {
                text-align: left;
                margin-left: 3vh;
                font-size: 1.1em;
                width: 70%;
    
            }
    
            .redes {
                margin-left: 3vh;
                width: 40%;
            }

            .btn {
                .btn-projects {
                    margin-left: 2vh;
                }
            }
        }
    } 
}

@media (max-width: 280px) {
    
    .header {
       
       
        .container {
           
            .spn-name {
    
                h2 {
                margin-top: 0vh;
                }
              
            }
            h3 {
                width: 80%;
                font-size: .9rem;
                line-height: 25px;
    
            }
    
    
        }
    } 
}