@import url('http://fonts.cdnfonts.com/css/gotham');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,600&display=swap');

:root {
    --main-font-color: wheat;
    --main-font-family: 'Gotham', sans-serif ;
    --secundary-font-color: white;
    --secundary-font-familily: 'Nunito Sans', sans-serif;
}

.header {
    width: 100%;
    height: 100vh;

    margin-top: 0vh;
    background-position: center;
    font-family: var(--main-font-family);

    
    .container {
        margin-top: 30vh;
        width: 100%;
        height: 100%;
        display: inline-block;
        
        .spn-name {
            width: 100%;
            margin: auto;
            font-family: var(--secundary-font-familily);
            color: black;
            text-align: center;

            h2 {
                color: var(--main-font-color);
                font-size: 4.5em;
                letter-spacing: .7vh;
                text-align: center;
                margin: auto;
                font-family: var(--secundary-font-familily);
            }
        }
        h3 {
            color: var(--secundary-font-color);
            width: 100%;
            margin: auto;
            margin-top: 2vh;
            line-height: 40px;
            letter-spacing: 3px;
            text-align: center;
            font-size: 1.1em;
            font-weight: normal;
        }


        .redes {

            width: 100px;
            margin: auto; margin-top: 5vh;
            display: flex;
            justify-content: space-between;
            animation: opac 8s;
            img {
                width: 30px;
            }
            a {
                padding: 2%;

                h3 {
                    visibility: hidden;
                    position: absolute;
                }

            }
            a:hover {
                h3 {
                    visibility: visible;
                    margin-left: 5vh;
                }
            }

            @keyframes opac {
                100% {
                    opacity: 1;
                }
                75% {
                    opacity: .75;
                }
                50% {
                    opacity: .5;
                }
                25% {
                    opacity: .25;
                }
                0% {
                    opacity: 0;
                }
            }
        }

        .btn {

            width: 100%;
            background-color: transparent;
            margin: auto; margin-top: 5vh;
            visibility: visible;

            a {

                font-size: 16px;
                font-weight: bold;
                color: var(--secundary-font-color);
                width: 200px;
                height: 50px;
                margin: auto;
                
                .btn-projects {
                    width: 200px;
                    height: 50px;
                    margin: auto;
                    background-color: transparent;
                    border: 2px solid rgb(10, 10, 10);
                    border-radius: 5px;
                    cursor: pointer;
                    color: var(--secundary-font-color);
                }
                .btn-projects:hover {
                    background-color: rgba(30, 23, 24, 0.779);
                    color: orangered;
                    transition: .4s;
                }
            }
        }
    }
}

@media (max-width:550px) {
    .header {
        height: 130vh;
    }
}