@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,600&display=swap');

.footer {

    width: 100%;
    height: 10vh;
    margin-top: 20vh;
    background-color: rgba(0, 0, 0, 0.884);

    .container {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;

        .col-3 {
            width: 20%;
            height: 100%;
            margin: 0;

            h3 {
                font-family: 'Nunito', sans-serif;
                color: #daa520d8 ;
            }

            img {
                width: 25px;
                margin-top: 3vh;
                padding: 2%;
            }
        }
        .col-9 {
            width: 65%;

            h3 {
                margin-top: 4.5vh;
                margin-left: -5vh;
                color: #daa520d8 ;
                font-weight: 100;
                font-size: 1em;
                font-family: 'Nunito', sans-serif;
            }
        }
    }
}



@media (max-width: 1024px) {
    

    .footer {
    
        margin-top: 40vh;

        .container {
         
            .col-3 {
               

                img {
                   
                }
            }
            .col-9 {
              
               
            }
        }
    }
    }



@media (max-width: 768px) {
    

    .footer {
    
     margin-top: 0vh;

        .container {
         
            .col-3 {
               

                img {
                    margin-left: 1vh;
                    margin-top: 3.5vh;
                }
            }
            .col-9 {
              
               
            }
        }
    }
    }

@media (max-width: 550px) {
    

.footer {

  
    height: 10vh;
    margin-top: 0vh;


    .container {
     
        .col-3 {
            width: 5%;

            display: inline-block;
            h3 {
                color: white;
            }

            img {
                margin-top: 1.5vh; margin-left: 1.5vh;
                width: 20px;
            }
        }
        .col-9 {
          
            h3 {
                width: 95%;
                margin-left: 8vh;
                margin-top: 5vh;
                font-size: 14px;
            }
        }
    }
}
}


@media (max-width: 400px) {
    

    .footer {
    
        height: 10vh;

        .container {
         
            .col-3 {
               

                img {
                    margin-top: 1.5vh;
                }
            }
            .col-9 {
              
               
            }
        }
    }
}


@media (max-width: 375px) {
    

    .footer {
    
        height: 10vh;

        .container {
         
            .col-3 {
               

                img {
                    margin-top: 1.5vh;
                }
            }
            .col-9 {
              
               
            }
        }
    }
    }