@import url('http://fonts.cdnfonts.com/css/gotham');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,600&display=swap');

:root {
    --main-font-color: rgb(11, 118, 160);
    --main-font-family: 'Gotham', sans-serif ;
    --secundary-font-color: rgb(245, 245, 245);
    --link-font-color: white;
    --secundary-font-color-dark: black;
    --secundary-font-familily: 'Nunito Sans', sans-serif;
    --hover-bg-color: orangered;
}

#sobre {

    height: auto;
    margin-top: 10vh;
    width: 100%;

    .container {
        width: 90%;
        height: 100%;
        margin: auto;
        display: inline;
    
        .box {

            width: 70%;
            height: auto;
            margin: auto;
            margin-left: auto;
            display: inline-block;
            
            h3 {
                text-align: center;
                color: var(--main-font-color);
                font-size: 2.3em;
                margin-top: 100px;
            }
            h4 {
                width: 100%;
                font-weight: 200;
                text-align: left;
                line-height: 35px;
                letter-spacing: 1px;
                margin-top: 4vh;
                font-size: 20px;
                color: var(--secundary-font-color);

                }

        }
        .btn {
            width: 100%;
            background-color: transparent;
            height: 100px;
            visibility: visible;
            a {
                width: 200px;
                height: 50px;
                margin: auto;
                
                .btn-secundary {
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    border: 1px solid rgb(10, 10, 10);
                    box-shadow: rgba(49, 48, 48, 0.252) 0px 7px 29px 0px;
                    cursor: pointer;
                    color: var(--link-font-color);
    
                }
                .btn-secundary:hover {
                    background-color: rgba(30, 23, 24, 0.779);
                    color: var(--hover-bg-color);
                    transition: .2s ease;
                }
            }
        }
        
    }
}



 @media (max-width: 1440px) {
    
     #sobre {
     
        .container {
            
             .box {
     
                height: auto;
    
             }

             a {
                width: 40%;
                    margin-left: 30%;
                    margin-top: 30vh;
                .btn-secundary {
                    margin-top: 1.5vh;
                }
             }
             
         }
     }
}
 @media (max-width: 1024px) {
    
 #sobre {

     .container {

        .box {
            height: auto;
        }
 
        a {
            width: 40%;
            margin-left: 30%;
            margin-top: 35vh;
            .btn-secundary {
               margin-left: auto;margin-top: 1.5vh;
            }
        }
     }
 }
}

@media (max-width: 768px) {
    
     #sobre {
        height: 160vh;
         .container {
            margin: auto;
   
            display: inline-block;

             .box {
                width: 85%;
                height: auto;
                margin: auto;
                margin-top: 5vh;
             }

             a {
                width: 80%;
                margin-left: 0vh; margin-top: 15vh;

                .btn-secundary {
                   margin-top: 7vh;
                   border: none;
                   background-color: transparent;
                }
             }

           
          
         }
     }
 }

@media (max-width: 550px) {
    
     #sobre {
        height: auto;
    
         .container {
        

            
            .btn-secundary {
                width: 80%;
                margin-left: 0vh; margin-top: 15vh;
            }
            
          
         }
     }
 }

 @media (max-width: 550px) {
    
    #sobre {
     
   
        .container {
         

            .box {
                .txt {
                    height: 35vh;
    
                    h3 {
                      font-size: 1.5rem;
                    }
                }
            }
           

            
         
        }
    }
}
