@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya:wght@400;500;600&display=swap');

.Navbar {
    width: 100%;
    height: 12vh;
    box-shadow: 0px 5px 10px rgba(40, 41, 42, 0.25);
    background: #24232334;
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    position: fixed;
    z-index: 99999999;
}

.Navbar nav  {

}
.Navbar nav .h1-desk  {
    font-family: 'Noto Serif Oriya', serif;
    color: rgba(255, 255, 255, 0.687);
    color: #bdbdbba3;
    letter-spacing: 4px;
    font-weight: 100;
}
.Navbar nav .h1-mob  {
    font-family: 'Noto Serif Oriya', serif;
    color: rgba(255, 255, 255, 0.687);
    color: #bdbdbba3;
    letter-spacing: 4px;
    font-weight: 100;
    font-size: 0;
    visibility: hidden;
}
.Navbar nav ul  {
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border-top: .2px solid rgba(255, 255, 255, 0.164);
    border-bottom: .2px solid rgba(255, 255, 255, 0.164);
}
.Navbar .li-social{
    width: 0px;
    height: 100%;
    border-right: .2px solid rgba(255, 255, 255, 0.164);

}
.Navbar .li-social img {
    width: 25px;
    background-color: yellow;
    
}
.Navbar nav ul li {
    margin: 0;
    list-style: none;
    width: 170px;
    height: 100%;
}
.Navbar nav ul .li-selector {
    border-left: .2px solid rgba(255, 255, 255, 0.164);
}
.Navbar nav .git {
   width: 20px;
   position: absolute;
   margin-top: 65px;
   margin-left: 1400px;
}
.Navbar nav .in {
    width: 20px;
    position: absolute;
    margin-top: 65px;
    margin-left: 1440px;
 }

.Navbar nav ul li a {
    text-decoration: none;
    color: rgba(245, 245, 245, 0.649);
    color: #daa520e5;
    margin-top: 10px;

}
.Navbar nav ul li .link {

    margin-top: 10px;

}


.Navbar a:hover {
    border-bottom: 3px solid rgba(6, 163, 211, 0.822);
}
.Navbar .Navigation img {
    position: absolute;
    left: 320px;
    top: 30px;
    cursor: pointer;
}
.Navbar .MobileNavigation {
    display: none;
    width: 0%;
    left: 600px;
    height: 30px;
    top: 0;
}

.btn-agendar {
    display: flex;
    width: 10%;
    height: 100%;
    right: 250px;
    position: absolute;
}
.btn {
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(30, 111, 216);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    margin-top: 2vh;
    display: flex;
}
.btn a {
    margin-top: 1.7vh;
    margin-left: 1vh;
    color: white;
    text-decoration: none;
}

.btn img {
    width: 55px;
    margin: 0;
}


@media (max-width: 1440px) {
    .Navbar {
        
        margin-top: 0vh;
    }
    
    .btn {
        visibility: hidden;
    }
    .btn img {
      width: 20px;
      margin-left: 0vh;
    }
    .Navbar .Navigation img {
        margin-top: -1.5vh;
        margin-left: -25vh;
    }
  
}
@media (max-width: 1024px) {

}

@media (max-width: 990px) {
    .Navbar {
        height: 10vh;
    }
    .Navbar nav .h1-desk  {
        font-size: 0;
        margin-top: 0vh;
        visibility: hidden;
    }

    .Navbar .Navgation {
        display: none;
        visibility: hidden;
    }
    .Navbar nav ul{
        border: none;
    }
    .Navbar .Navigation img {
        margin-top: -1vh;
        width: 150px;
    }
    .Navbar .Navgation ul li a{
        visibility: hidden;
    }
    .Navbar nav li {
        visibility: hidden;
    }
    .Navbar .MobileNavigation {
        display: flex;
        height: 80vh;
        align-items: center;
    }
    .Navbar .MobileNavigation .Hamburguer {

        position: absolute;
        right: 30px;
        top: 20px;
        cursor: pointer;
    }
    .Navbar .NavLinks nav ul {
        height: 10vh;
    }
    .Navbar .mob {
        height: 90vh;
        width: 100%;
        top: 10vh;
        margin-left: 0vh;
        position: fixed;
        display: inline-block;
        text-align: left;
        border-radius: 5px;
        background-color: rgba(30, 33, 31, 0.938);
    }
    .Navbar .mob li{
        margin: auto;
        width: 100%;
        height: 70px;
        margin-top: 20px;
        margin-left: 0vh;
        font-size: 22px;
        visibility: visible;
        border: none;
    }
}
@media (max-width: 912px) and (max-height: 1368px ) { 
    .Navbar {
        height: 10vh;
    }


}
@media (max-width: 768px) {
    .Navbar {
        height: 10vh;
    }
    .Navbar nav ul{
        margin-left: 300px;
        margin-top: 0;
    }
    .Navbar .MobileNavigation .Hamburguer {

        top: 20px;
    }
    .Navbar .Navigation img {
        margin-top: 0px;
        width: 150px;
    }

}
@media (max-width: 550px) {
    .Navbar {
        width: 100%;
        margin: auto;
    }
    .Navbar nav h1  {
        font-size: 18px;
        margin-top: 4vh;
    }
    .Navbar .Navigation img {
        margin-top: -1vh;
    }


}
@media (max-width: 390px) {
    .Navbar {
        height: 12vh;
    }
    .Navbar nav h1  {
        font-size: 18px;
        margin-top: 4vh;
    }
    .Navbar nav ul{
        margin-left: 0;
        
    }
    .Navbar .Navigation img {
        width: 130px;
    }
}