


.Navbar {
    width: 100%;
    height: 10vh;
    margin-top: -30vh;
    position: fixed;
    z-index: 99999999;
    background-color: rgba(240, 236, 236, 0.884);
    box-shadow: rgba(134, 134, 134, 0.082) 0px 25px 20px -20px;
    
}

.Navbar nav ul  {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    display: inline-block;
    justify-content: space-between;
}
.Navbar nav img{
    width: 60px;
    position: absolute;
    margin-left: -30vh; margin-top: -1.5vh;
}
.Navbar nav ul li {
    width: 10%;
    height: 100%;
    display: inline-block;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 1vh;
    
}

.Navbar nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
}

.Navbar a:hover {
    color: rgba(34, 35, 36, 0.822);
    border-bottom: 3px solid rgba(26, 129, 160, 0.815);
    transition: .1s ease-in-out;
}

.Navbar .MobileNavigation {
    display: none;
    width: 0%;
    left: 600px;
    height: 30px;
    top: 0;
}
.btn-agendar {
    display: flex;
    width: 10%;
    height: 100%;
    right: 250px;
    position: absolute;
}
.btn {
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(30, 111, 216);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    margin-top: 2vh;
    display: flex;
}
.btn a {
    margin-top: 1.7vh;
    margin-left: 1vh;
    color: white;
    text-decoration: none;
}

.btn img {
    width: 55px;
    margin: 0;
}

/* 
@media (max-width: 1440px ) {
    .Navbar nav {
       margin-top: 15px;
    }
    .Navbar nav ul li a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 27px;
    }
} */

@media (max-width: 1010px) {
    .Navbar {
        height: 25vh;
    }
    .Navbar .Navgation {
        display: none;
        visibility: hidden;
    }
    .Navbar nav ul{
        border: none;
    }
    .Navbar .Navgation ul li a{
        visibility: hidden;
    }
    .Navbar nav li {
        visibility: hidden;
    }
    .Navbar .MobileNavigation {
        display: inline-block;
        width: 100%;
        height: 15vh;
        align-items: center;
        margin-top: 0vh;
    }
    .Navbar .MobileNavigation .Hamburguer {

        right: 30px;
        top: 0vh;
        cursor: pointer;
    }
    .Navbar .NavLinks nav ul {
        height: 50vh;
        margin-top: 0vh;
        visibility: visible;
    }
    .Navbar .mob {
        height: 90vh;
        width: 100%;
        top: 0vh;
        position: fixed;
        display: inline-block;
        text-align: left;
        border-radius: 15px;

        background-color: rgba(37, 192, 231, 0.938);
    }
    .Navbar .mob ul{
        background-color: black;
    }
    .Navbar .mob li{
        margin: auto;
        width: 100%;
        margin-top: 15%;
        margin-left: 0vh;
        font-size: 22px;
        visibility: visible;
    }
}

@media (max-width: 768px) {
    .Navbar {
        height: 10vh;
    }
    .Navbar nav ul{
        margin-left: 300px;
        margin-top: 0;
    }
    .Navbar .MobileNavigation .Hamburguer {

        top: 25vh;
    }

}
@media (max-width: 550px) {
    .Navbar {
        height: 10vh;
    }
    .Navbar nav ul{
        margin-left: 0;
    }
    .Navbar .MobileNavigation .Hamburguer {

        top: 20vh;
    }

}